In [2]:
import pandas as pd
from functools import reduce

In [3]:
path = '~/Downloads/T-Star/'
filelist = ['ac.dta', 'de.dta', 'eu.dta', 'gs.dta', 'ig.dta', 'ip.dta', 'ke.dta', 'kh.dta', 'ki.dta', 'ko.dta', 'ks.dta', 'ku.dta', 'la.dta', 'mg.dta', 'mn.dta', 'ok.dta', 'on.dta', 'ov.dta', 'sz.dta', 'tu.dta', 'tx.dta']

In [4]:
dflist = []
for  f in filelist:
    filename = path + f
    df = pd.read_stata(filename,convert_categoricals=False)
    muncount = df['tazon'].nunique()
    if not muncount == 3167:
        print(f,' did not have 3167 municipalities but ',muncount)
        continue
    dflist.append(df)
tstar = reduce(lambda x, y: pd.merge(x, y,on=['tazon','ev'],how='outer',copy=False), dflist)
tstar['telnev']=tstar['telnev_helyes_x'].iloc[:,0]
dflist = []

ig.dta  did not have 3167 municipalities but  3164
ip.dta  did not have 3167 municipalities but  3164
ki.dta  did not have 3167 municipalities but  3166
mg.dta  did not have 3167 municipalities but  3164
ov.dta  did not have 3167 municipalities but  3166
tu.dta  did not have 3167 municipalities but  3166
tx.dta  did not have 3167 municipalities but  3166

In [5]:
# useless on categoricals: tstar.replace(['Õ','õ','Ũ','ũ','Ô','ô','Û','û'],['Ő','ő','Ű','ű','Ő','ő','Ű','ű'], inplace=True, regex=True)

In [6]:
tstar['ksh_azonosito'] = tstar['tazon'].map('{:04.0f}'.format)

In [7]:
tstar.head()

,tazon,ev,kist150_x,kist168_x,kist174_x,kist175_x,mkod1990_x,mkod2008_x,rkod1990_x,rkod2008_x,...,sz131,sz132,sz133,sz134,sz135,sz136,sz137,sz138,telnev,ksh_azonosito
0,150,2005,4201.0,4201.0,4201.0,4201.0,12.0,12.0,5.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ipolyszög,0150
1,150,2006,4201.0,4201.0,4201.0,4201.0,12.0,12.0,5.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ipolyszög,0150
2,150,2007,4201.0,4201.0,4201.0,4201.0,12.0,12.0,5.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ipolyszög,0150
3,150,2008,4201.0,4201.0,4201.0,4201.0,12.0,12.0,5.0,5.0,...,0.0,73.0,NaN,NaN,NaN,NaN,NaN,NaN,Ipolyszög,0150
4,150,2009,4201.0,4201.0,4201.0,4201.0,12.0,12.0,5.0,5.0,...,NaN,82.0,NaN,NaN,NaN,NaN,NaN,NaN,Ipolyszög,0150

In [8]:
tstar.size
tstar['tazon'].nunique()

3167

Népességen belüli korcsoportok arányai

In [9]:
tstar['nok_0_14_aranya'] = tstar['de29']/tstar['de03']
tstar['nok_15_17_aranya'] = tstar['de30']/tstar['de03']
tstar['nok_18_aranya'] = tstar['de31']/tstar['de03']
tstar['nok_19_aranya'] = tstar['de32']/tstar['de03']
tstar['nok_20_29_aranya'] = tstar['de33']/tstar['de03']
tstar['nok_30_39_aranya'] = tstar['de34']/tstar['de03']
tstar['nok_40_49_aranya'] = tstar['de35']/tstar['de03']
tstar['nok_50_59_aranya'] = tstar['de36']/tstar['de03']
tstar['nok_60_64_aranya'] = tstar['de37']/tstar['de03']
tstar['nok_65+_aranya'] = tstar['de38']/tstar['de03']

In [10]:
tstar['ffi_0_14_aranya'] = tstar['de39']/tstar['de03']
tstar['ffi_15_17_aranya'] = tstar['de40']/tstar['de03']
tstar['ffi_18_aranya'] = tstar['de41']/tstar['de03']
tstar['ffi_19_aranya'] = tstar['de42']/tstar['de03']
tstar['ffi_20_29_aranya'] = tstar['de43']/tstar['de03']
tstar['ffi_30_39_aranya'] = tstar['de44']/tstar['de03']
tstar['ffi_40_49_aranya'] = tstar['de45']/tstar['de03']
tstar['ffi_50_59_aranya'] = tstar['de46']/tstar['de03']
tstar['ffi_60_64_aranya'] = tstar['de47']/tstar['de03']
tstar['ffi_65+_aranya'] = tstar['de48']/tstar['de03']

In [11]:
tstar.columns[:30]

Index(['tazon', 'ev', 'kist150_x', 'kist168_x', 'kist174_x', 'kist175_x',
       'mkod1990_x', 'mkod2008_x', 'rkod1990_x', 'rkod2008_x', 'xcoorkm_x',
       'ycoorkm_x', 'teltip3_x', 'teltip8_x', 'telnev_helyes_x', 'kistn174',
       'ac01', 'ac02', 'ac03', 'ac04', 'ac05', 'ac06', 'ac07', 'ac08', 'ac09',
       'ac10', 'ac11', 'ac12', 'ac13', 'ac14'],
      dtype='object')

In [12]:
tstar['ev+3']=tstar['ev']+3

In [13]:
tstar.to_csv(path+'koraranyok.csv',index=False,columns=['ksh_azonosito','telnev','ev+3','nok_0_14_aranya','nok_15_17_aranya','nok_18_aranya','nok_19_aranya','nok_20_29_aranya','nok_30_39_aranya','nok_40_49_aranya','nok_50_59_aranya','nok_60_64_aranya','nok_65+_aranya','ffi_0_14_aranya','ffi_15_17_aranya','ffi_18_aranya','ffi_19_aranya','ffi_20_29_aranya','ffi_30_39_aranya','ffi_40_49_aranya','ffi_50_59_aranya','ffi_60_64_aranya','ffi_65+_aranya'])

In [14]:
tstar.rename(columns={'gs265':'0_fos_ceg', 'gs266':'1-9_fos_ceg', 'gs267':'10-19_fos_ceg', 'gs268':'20-49_fos_ceg', 'gs269':'50-249_fos_ceg', 'gs270':'250-499_fos_ceg', 'gs271':'500+_fos_ceg'},inplace=True)

In [15]:
tstar.loc[tstar['ev'].isin(range(2011,2016))].to_csv(path+'munkaadok.csv',na_rep='0',float_format = '%.0f',index=False,columns=['ksh_azonosito','telnev','ev+3','0_fos_ceg','1-9_fos_ceg','10-19_fos_ceg','20-49_fos_ceg','50-249_fos_ceg','250-499_fos_ceg','500+_fos_ceg'])

A következő arányszámok a *lakó*népesség arányában értendők. A lakások száma lenne releváns a kábeltévé, az internetelőfizetések és a csatornázottság számaihoz, a lakott lakásokról sajnos megfeleltethető szám nem található.
Az internetes lefedettség sajnos 2013-ban indul.

In [16]:
tstar['szgk_arany']=tstar['kh20']/tstar['de02']
tstar['kabeltv_lefettseg']=tstar['kh16']/tstar['la01']
tstar['internet_arany']=tstar['kh57']/tstar['la01']
tstar['csatornazottsag']=tstar['ko14']/tstar['la01']
tstar['atlagos_otthoni_aramfogyasztas']=tstar['ko20']/tstar['de02']
tstar['atlagos_otthoni_gazfogyasztas']=tstar['ko23']/tstar['de02']
tstar['lakosok_per_lakasok']=tstar['de02']/tstar['la01']

In [17]:
tstar.to_csv(path+'rezsi.csv',index=False,columns=['ksh_azonosito','telnev','ev+3','szgk_arany', 'kabeltv_lefettseg', 'internet_arany', 'csatornazottsag', 'atlagos_otthoni_aramfogyasztas', 'atlagos_otthoni_gazfogyasztas', 'lakosok_per_lakasok'])

In [18]:
tstar['allaskeresok_aranya_8osztalyse'] = tstar['mn10'] / tstar['de02']
tstar['allaskeresok_aranya_8osztaly'] = tstar['mn11'] / tstar['de02'] 
tstar['allaskeresok_aranya_szakmunkas'] = tstar['mn12'] / tstar['de02']
tstar['allaskeresok_aranya_szakiskolai'] = tstar['mn13'] / tstar['de02']
tstar['allaskeresok_aranya_kozepiskola'] = tstar['mn14'] / tstar['de02']
tstar['allaskeresok_aranya_foiskola'] = tstar['mn15'] / tstar['de02']
tstar['allaskeresok_aranya_egyetem'] = tstar['mn16'] / tstar['de02']

In [19]:
tstar.to_csv(path+'allaskeresok.csv',index=False,columns=['ksh_azonosito','telnev','ev+3',
                                                   'allaskeresok_aranya_8osztalyse',
                                                   'allaskeresok_aranya_8osztaly',
                                                   'allaskeresok_aranya_szakmunkas',
                                                   'allaskeresok_aranya_szakiskolai',
                                                   'allaskeresok_aranya_kozepiskola',
                                                   'allaskeresok_aranya_foiskola',
                                                   'allaskeresok_aranya_egyetem'])

In [20]:
tstar['adossag_csokk_tam_aranya'] = tstar['on49'] / tstar['de02']
tstar['fogl_hely_tam_aranya'] = tstar['on42'] / tstar['de02']
tstar['rszs_tam_aranya'] = tstar['on40'] / tstar['de02']
tstar['kozgyogy_tam_aranya'] = tstar['on37'] / tstar['de02']
tstar['idos_jar_tam_aranya'] = tstar['on26'] / tstar['de02']
tstar['lakascelu_tam_aranya'] = tstar['on22'] / tstar['de02']
tstar['lakfenntart_tam_aranya'] = tstar['on16'] / tstar['de02']
tstar['kozmunka_aranya'] = tstar['on13'] / tstar['de02']

In [21]:
tstar.to_csv(path+'tamogatottak.csv',index=False,columns=['ksh_azonosito','telnev','ev+3',
                                                         'adossag_csokk_tam_aranya',
                                                         'fogl_hely_tam_aranya',
                                                         'rszs_tam_aranya',
                                                         'kozgyogy_tam_aranya',
                                                         'idos_jar_tam_aranya',
                                                         'lakascelu_tam_aranya',
                                                         'lakfenntart_tam_aranya',
                                                         'kozmunka_aranya'])

In [22]:
tstar['nyudijas_ffi_arany'] = tstar['sz53'] / tstar['de02']
tstar['nyudijas_noi_arany'] = tstar['sz60'] / tstar['de02']

In [23]:
tstar.to_csv(path+'nyugdijasok.csv',index=False,columns=['ksh_azonosito','telnev','ev+3',
                                                        'nyudijas_ffi_arany',
                                                        'nyudijas_noi_arany'])

In [24]:
tstar['pop']=tstar['de03']
tstar.to_csv(path+'pop.csv',index=False,columns=['ksh_azonosito','telnev','ev+3','pop'])