In [1]:
import pandas as pd
import numpy as np

In [28]:
path = '~/Documents/github/106/adat/telepules/'

In [8]:
part = pd.read_csv(ath + 'telepules_listas_arany.csv')

In [9]:
part.head()

,id2010,partnev,szavazat2010,osszes2010,arany2010,szavazat2014,osszes2014,arany2014
0,M01/T001,baloldal,3151.0,16588.0,18.995659,4926.0,15039.0,32.754837
1,M01/T002,baloldal,11786.0,53520.0,22.021673,18945.0,51781.0,36.586781
2,M01/T003,baloldal,18618.0,71766.0,25.942646,26833.0,70528.0,38.045883
3,M01/T004,baloldal,14475.0,53891.0,26.859772,20628.0,52807.0,39.063004
4,M01/T005,baloldal,3580.0,15832.0,22.612431,5724.0,16410.0,34.881168

In [10]:
crosswalk = pd.read_csv(path + 'telepules_kodok.csv')

In [11]:
crosswalk.head()

       telepules_nev telepules_id  ksh_kod  nuts3    id2010
0    Budapest I.ker.     M01/T001     9566  HU110  M01/T001
1   Budapest II.ker.     M01/T002     3179  HU110  M01/T002
2  Budapest III.ker.     M01/T003    18069  HU110  M01/T003
3   Budapest IV.ker.     M01/T004     5467  HU110  M01/T004
4    Budapest V.ker.     M01/T005    13392  HU110  M01/T005

In [13]:
listasid = part.merge(crosswalk,on = 'id2010',copy=False)

In [15]:
listasid['arany2010'] = listasid['arany2010']/100

In [16]:
listasid['arany2014'] = listasid['arany2014']/100

In [17]:
listasid['ev+3'] = 2014

In [24]:
listasid.rename(columns = {'ksh_kod':'ksh5digitnum'},inplace=True)

In [25]:
listasid['ksh_kod'] = (listasid['ksh5digitnum']//10).map('{:0>4d}'.format)

In [26]:
listasid.head()

,id2010,partnev,szavazat2010,osszes2010,arany2010,szavazat2014,osszes2014,arany2014,telepules_nev,telepules_id,ksh5digitnum,nuts3,ev+3,ksh_kod
0,M01/T001,baloldal,3151.0,16588.0,0.189957,4926.0,15039.0,0.327548,Budapest I.ker.,M01/T001,9566,HU110,2014,0956
1,M01/T001,egyeb,NaN,NaN,NaN,373.0,15039.0,0.024802,Budapest I.ker.,M01/T001,9566,HU110,2014,0956
2,M01/T001,fidesz,9092.0,16588.0,0.548107,7064.0,15039.0,0.469712,Budapest I.ker.,M01/T001,9566,HU110,2014,0956
3,M01/T001,jobbik,1173.0,16588.0,0.070714,971.0,15039.0,0.064565,Budapest I.ker.,M01/T001,9566,HU110,2014,0956
4,M01/T001,lmp,2333.0,16588.0,0.140644,1705.0,15039.0,0.113372,Budapest I.ker.,M01/T001,9566,HU110,2014,0956

In [27]:
filelist = ['allaskeresok.csv','koraranyok.csv','munkaadok.csv','nyugdijasok.csv','rezsi.csv','tamogatottak.csv','pop.csv']

In [31]:
dflist = []
for  f in filelist:
    filename = path + 'tstar/' + f
    df = pd.read_csv(filename)
    dflist.append(df)
tstar = reduce(lambda x, y: pd.merge(x, y,on=['ksh_azonosito','ev+3'],how='outer',copy=False), dflist)
dflist = []

/Users/laszlo.sandor/miniconda3/envs/idp/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

NameError: name 'reduce' is not defined